# Python virtual environments
.venv/
venv/
env/
ENV/

# Python cache (compiled files)
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Data and Logs
*.log
data/

# Mac specific
.DS_Store

# Windows specific
Thumbs.db

# Environment variables 
.env